@import "mocha.css"; 

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "Adwaita Mono Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: @base;
    color: @text;
}

tooltip {
    background: @surface0;
    border: 1px solid @blue;
}

tooltip label {
    color: @text;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @text;
    border-bottom: 2px solid transparent;
}

#workspaces button.active {
    background: @surface0;
    border-bottom: 2px solid @mauve;
}

#clock {
    color: @mauve;
    border-bottom: 2px solid @mauve;
    padding: 0 10px;
    margin: 0 5px;
}

#battery {
    color: @green;
    border-bottom: 2px solid @green;
    padding: 0 10px;
    margin: 0 5px;
}

#network {
    color: @yellow;
    border-bottom: 2px solid @yellow;
    padding: 0 10px;
    margin: 0 5px;
}

#pulseaudio {
    color: @blue;
    border-bottom: 2px solid @blue;
    padding: 0 10px;
    margin: 0 5px;
}

#custom-keyboard-layout {
    color: @teal;
    border-bottom: 2px solid @teal;
    padding: 0 10px;
    margin: 0 5px;
}

#window {
    margin-left: 10px;
    color: @text;
}
